<h1><%= @post.title %></h1>

<h5 id="date">
  <%= time_ago_in_words(@post.created_at) %> ago... | <%= link_to "Edit", edit_post_path %> | <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
</h5>

<p><%= @post.body %> </p>
