<!DOCTYPE html>
<html>
<head>
  <title>Fumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<%= render 'layouts/nav' %>
<%= render 'layouts/main' %>
</div>

</body>
</html>
